aiofiles
alembic
click
httptools
import-string
itsdangerous
Mako
manage.py
MarkupSafe
mimeparse
python-dateutil
python-editor
PyYAML
sanic==19.12.2
six
SQLAlchemy
ujson
uvloop
websockets
jinja2
requests
psycopg2-binary
aiosmtplib
apscheduler
Pillow
sanic_cors
redis
aiohttp
Crypto
bcrypt
firebase-admin
xlrd
pandas


git+https://github.com/gonrin/gatco.git
git+https://github.com/gonrin/gatco_auth.git
git+https://github.com/gonrin/gatco_sqlalchemy.git
git+https://github.com/gonrin/gatco_restapi.git
git+https://github.com/gonrin/gatco_acl.git
git+https://github.com/gonrin/gatco_jinja2.git
