<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Điều khoản sử dụng">
	<link rel="shortcut icon" href="{{static_url}}/images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="{{static_url}}/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{static_url}}/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{static_url}}/images/favicon/favicon-16x16.png">
	<style>
		.content{
			padding:20px;
		}
	</style>
</head>
<body>
<div class="content">
	<h1>ĐIỀU KHOẢN DỊCH VỤ </h1>
	<p>Vui lòng đọc kỹ Thỏa Thuận Sử Dụng (“Thỏa Thuận”) trước khi bạn tiến hành tải, cài đặt, sử dụng tất cả hoặc bất kỳ phần nào của ứng dụng “Bác sĩ xã” (“Ứng Dụng”) (bao gồm nhưng không giới hạn phần mềm, các file và các tài liệu liên quan) hoặc sử dụng các dịch vụ của chúng tôi cung cấp để kết nối đến Ứng Dụng. Bạn chấp thuận và đồng ý bị ràng buộc bởi các quy định và điều kiện trong Thỏa Thuận này khi thực hiện các thao tác trên đây. Trường hợp bạn không đồng ý với bất kỳ điều khoản sử dụng nào của chúng tôi (phiên bản này và các phiên bản cập nhật), bạn vui lòng không tải, cài đặt, sử dụng Ứng dụng hoặc tháo gỡ Ứng Dụng ra khỏi thiết bị di động của bạn.</p>
	
	<h4>1. GIỚI THIỆU:</h4>
	<p>-	Chào mừng bạn đến với phần mềm Bác sĩ xã (gọi chung là "Phần mềm"). Vui lòng đọc kỹ các Điều Khoản Dịch Vụ sau đây trước khi tiếp tục truy cập hoặc sử dụng các dịch vụ của Phần mềm</p>
	<p>-	Bác sĩ xã là một sản phẩm Y tế số thuộc sở hữu của Công ty TNHH Hệ thống thông tin FPT;</p>
	<p>-	Bằng việc sử dụng các dịch vụ hoặc tiếp tục truy cập, bạn cho biết rằng bạn chấp nhận, không rút lại, các điều khoản dịch vụ này. </p>
	<p>-	Chúng tôi có quyền chỉnh sửa các Điều Khoản Dịch Vụ này vào bất kỳ lúc nào mà không cần thông báo cho người dùng </p>
	<p>-	Chúng tôi có quyền thay đổi, điều chỉnh, đình chỉ hoặc ngưng bất kỳ phần nào của Phần mềm này hoặc Các Dịch Vụ vào bất kỳ lúc nào</p>

	<h4>2. ĐIỀU KHOẢN SỬ DỤNG </h4>
	<p>-	Quyền sử dụng Phần mềm này và Các Dịch Vụ có hiệu lực đến khi bị chấm dứt. Quyền sử dụng này sẽ chấm dứt như quy định trong các Điều Khoản Dịch Vụ này hoặc nếu bạn không tuân thủ bất kỳ điều khoản hay điều kiện nào của các Điều Khoản Dịch Vụ này. Trong trường hợp đó, Chúng tôi sẽ không cần thông báo để áp dụng sự chấm dứt đó.</p>
	
	<h5>-	Bạn đồng ý không:</h5>
	<ul>
			<li>Sử dụng Các Dịch Vụ để gây hại cho người dùng khác dưới bất kỳ hình thức nào; </li>	
			<li>Sử dụng Các Dịch Vụ để mạo danh bất kỳ cá nhân hay tổ chức nào; </li>
			<li>Hoặc giả mạo khác việc bạn liên kết với một cá nhân hay tổ chức; </li>
			<li>Giả mạo các đầu đề hoặc thao túng khác đối với các yếu tố danh định nhằm che giấu nguồn gốc của bất kỳ Nội Dung nào được gửi qua Các Dịch Vụ; </li>
			<li>Xóa gỡ bất kỳ thông báo độc quyền nào ra khỏi Phần mềm; </li>
			<li>Thực hiện, cho phép hoặc ủy quyền sửa đổi, tạo ra các bản phái sinh, hoặc biên dịch Các Dịch Vụ mà không được sự cho phép của Chúng tôi; </li>
			<li>Sử dụng Các Dịch Vụ vì bất kỳ mục đích thương mại nào hay vì lợi ích của bất kỳ bên thứ ba hoặc theo bất kỳ hình thức nào không được phép theo các quyền đã được cấp. </li>
			<li>Sử dụng Các Dịch Vụ vì mục đích gian lận; </li>
			<li>Tìm cách biên dịch giải mã, thay đổi cấu trúc kỹ thuật, tháo rời hoặc tấn công Các Dịch Vụ (hoặc bất kỳ phần nào của nó), hoặc thủ tiêu hay vượt qua bất kỳ công nghệ mã hóa hay biện pháp bảo mật nào mà Chúng tôi thực hiện liên quan đến Các Dịch Vụ và/hoặc dữ liệu được gửi, xử lý hoặc lưu trữ bởi Phần mềm; </li>
			<li>Thu thập bất kỳ thông tin nào về các chủ Tài Khoản khác, bao gồm, nhưng không giới hạn các dữ liệu hay thông tin cá nhân; </li>
			<li>Tải lên, đăng, gửi email, gửi hoặc cung cấp dưới hình thức khác bất kỳ Nội Dung nào mà bạn không có quyền cung cấp theo bất kỳ điều luật nào hay theo các quan hệ hợp đồng hoặc ủy thác; </li>
			<li>Tải lên, đăng, gửi email, gửi hoặc cung cấp dưới hình thức khác bất kỳ Nội Dung nào xâm phạm bất kỳ bằng sáng chế, thương hiệu, bí mật thương mại, bản quyền hay độc quyền khác của bất kỳ bên nào; </li>
			<li>Tải lên, đăng, gửi email, gửi hoặc cung cấp dưới hình thức khác bất kỳ tài liệu quảng cáo, quảng bá không được phép, “thư rác,” “thư hàng loạt,” “thư dây chuyền,”, “quảng cáo đa cấp” hoặc bất kỳ hình thức câu kéo khác; </li>
			<li>Tải lên, đăng, gửi email, gửi hoặc cung cấp dưới hình thức khác bất kỳ tài liệu nào chứa virus, sâu, Trojan hoặc bất kỳ mã máy tính, trình tự, tập tin hay chương trình nào được thiết kế để trực tiếp hoặc gián tiếp cản trở, thao túng, làm gián đoạn, phá hủy hoặc hạn chế chức năng hay tính toàn vẹn của bất kỳ phần mềm hay phần cứng máy tính nào hay dữ liệu hoặc thiết bị viễn thông nào; </li>
			<li>Làm gián đoạn, thao túng hoặc làm rối loạn Các Dịch Vụ hoặc các máy chủ hay mạng được kết nối với Các Dịch Vụ hoặc việc sử dụng Các Dịch Vụ của bất kỳ người dùng nào khác, hoặc không tuân thủ bất kỳ yêu cầu, thủ tục, chính sách hay quy định nào của các mạng được kết nối với Phần mềm; </li>
			<li>Có bất kỳ hành động nào hay liên quan đến bất kỳ hành vi nào có thể trực tiếp hay gián tiếp làm thiệt hại, vô hiệu, gây áp lực quá mức, hoặc làm suy giảm Các Dịch Vụ hoặc các dịch vụ hay các mạng được kết nối với Các Dịch Vụ; </li>
			<li>Sử dụng Các Dịch Vụ để xâm phạm quyền riêng tư của người khác hoặc để “lén theo dõi” hoặc quấy rối một người khác và/hoặc </li>
			<li>Sử dụng Các Dịch Vụ để thu thập hoặc lưu lại dữ liệu cá nhân về người dùng khác liên quan đến hành vi và các hoạt động bị cấm bên trên. </li>
			
	</ul>
	<h4>3. Liên Lạc Với Chúng Tôi</h4>
	<p>- Địa chỉ email cskh@yte360.com;</p>
	<p>Trân trọng cảm ơn bạn đã sử dụng sản phẩm và dịch vụ của chúng tôi.</p>
</div>
</body>
</html>

