{% extends "security/layout.html" %}
{% block content %}
<div class="login">
<div class="content">
<form action="/api/v1/user/recover/resetpw" method="POST" name="reset_password_form" >
	<div class="text-center">
		<img src="/static/images/logo-boyte.png" style="width:50px;height:50px;margin:auto">
	</div>
	<div class="form-group text-center">
		<label class="control-label">Sổ theo dõi sức khỏe bà mẹ và trẻ em</label>
		<label class="control-label">Nhập mật khẩu mới</label>
	</div>
	<input type="hidden" name="token" value="{{token}}"/>
	
  	<div class="form-group">
  		<label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
  		<input class="form-control" type="password" name="password"/>
  	</div>
  	<div class="form-group">
  		<label class="control-label visible-ie8 visible-ie9">Nhập lại mật khẩu</label>
  		<input class="form-control" type="password" name="confirm_password"/>
  	</div>
  	<div class="form-group"><button class="btn btn-success" type="submit">Cập nhật</button></div>
  	
</form>
{% endblock %}
</div>
</div>