<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<link rel="shortcut icon" href="./favicon.ico">-->
		<link rel="shortcut icon" href="{{static_url}}/images/favicon/favicon.ico">
		<link rel="icon" type="image/png" sizes="32x32" href="{{static_url}}/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{static_url}}/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{static_url}}/images/favicon/favicon-16x16.png">
		
		<link rel="stylesheet" href="{{static_url}}/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{static_url}}/vendor/bootstrap/css/bootstrap-dialog.min.css">
		<link rel="stylesheet" href="{{static_url}}/vendor/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="{{static_url}}/css/screen.css">
		<link rel="stylesheet" href="{{static_url}}/css/layout.css">
		<link rel="stylesheet" href="{{static_url}}/css/style.css">
		<link rel="stylesheet" href="{{static_url}}/css/themes/light.css">
		<link rel="stylesheet" href="{{static_url}}/css/style_pink.css">
		<title>Sổ Mẹ và Bé</title>
	</head>
	<body class="page-header-fixed">
	
	<div class="page-header-wrapper">
	<div class="page-header navbar navbar-fixed-top">
		<!-- BEGIN HEADER INNER -->
		<div class="page-header-inner">
			<!-- BEGIN LOGO -->
			<div class="page-logo">
				<a id="logo" href="javascript:void(0);">
				<img src="{{static_url}}/images/logo.png" height="40px" alt="logo" class="logo-default"/>
				</a>
				<div class="menu-toggler sidebar-toggler hide">
					<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
				</div>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
			</a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END HEADER INNER -->
	</div>
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container page-container-fixed">
	<div class="page-navbar-wrapper">
		<div class="page-navbar">
		
		</div>
	</div>
	<div class="page-content-wrapper">
		<div class="page-content" style="margin:0px">
			<div class="tools-area" style="margin: 9px 6px 0 6px;"></div>
			<div class="content-area">
				<section class="content">
					<div class="row">
						<div class="col-md-12">
							<h4 class="text-center title">Không tìm thấy thông tin sổ</h4>
						</div>
						<div class="col-md-10 col-md-offset-1 text-center">
							<a class="btn btn-primary" style="font-size:22px;" href="{{href_taosomoi}}" >Tạo sổ BMTE mới</a>
						</div>
					</div>
					
				</section>
			</div>
		</div>
	</div>
</div>
<div class="page-footer">
	<div class="page-footer-inner">
		
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>	
		
	</body>
</html>