body {
  font-size: .875rem;
}




.chose-item {
  width: 94%;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  display: none;

}

.trang-thiet-bi-y-te {
  height: 700px;
}
@media (min-width: 500px) {
  .trang-thiet-bi-y-te {
    height: 350px;
  }
  .chose-item {
    width: 80%;
  }
}

#titlehinhanh {
  font-size: 22px;

}

.booth {
  width: 400px;
  height: auto;
  margin: 20px auto;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #e5e5e5;
}

.booth a {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #428bca;
  margin: 10px 0;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}


.trai {
  width: 30%;
}

.phai {
  width: 70%;
  text-align: center;
}

.input-printer-center {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 30px;
}

#printJS-form {
  margin-left: 90px;
}

.bordernay {
  border: 1px solid black;
  border-bottom: none;
  padding: 10px;
}

.bordernay2 {
  border-bottom: 1px solid black;
}

.input-printer4 {
  border: none;
  border-bottom: 1px dotted black;
  outline: 0px;
  flex-grow: 1;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  padding-left: 2%;
  padding-top: 8px;

}

.input-printer {
  border: none;
  border-bottom: 1px dotted black;
  padding-left: 1%;
  outline: 0px;
  flex-grow: 1;
  font-size: 20px;
}

.input-printer3 {
  border: none;
  padding-left: 1%;
  outline: 0px;
  flex-grow: 1;
  font-size: 20px;
}

.flexboxer {
  display: flex;
}

.flexboxer label {
  padding-top: 5px;
  margin: 0px;
  font-size: 22px;
}

.chuky1 {
  width: 100px;
  display: flex;
  margin: 0 auto;

}

.cycle {
  width: 100px;
  border: none;
  border-bottom: 1px dotted black;
  margin: 0 auto;

}


.ref-form-control {
  height: 35px;
}

.fc-time {
  display: none;
}

#bangthongbao tr td {
  padding: 3px;
}

#sca div table tbody tr td {
  padding: 5px;
}

#sca div {
  padding: 5px;
}

#tools_sca {
  padding: 0px;
  margin: 0px;
}

#pag_sca {
  padding: 0px;
}

#nav_list_pag_sca {
  margin: 0px;
}

#tbl_sca {
  margin: 0px;
}

#sca div table tbody tr:hover {
  background-color: #b3bfcc;
}


.maintenance_requirements div ul li {
  display: inline;
  margin: 15px;
}

.device_status_when_making_a_purchase div ul li {
  display: inline;
  margin: 15px;
}

.device_status_when_making_a_purchase {
  width: 40%;
  margin: 0px;
  padding: 0px;
}


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.btn-default {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-default:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.navbar-nav .badge,
.nav-link-icon__wrapper .badge {
  position: absolute;
  top: 0px;
  margin-left: -6px;
  border-radius: 50%;
}




.nav-item i.fa {
  font-size: 1.25rem;
}

.pagination-container {
  padding: 5px 10px;
}


/* custom combobox bootstrap 4
 */

.input-group .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.bg-primary,
.active a {
  color: #fff;
}


.modal-dialog {
  max-width: 650px;
}

span.input-group {
  height: 38px;
  vertical-align: center;
}

.form-group.required label:after {
  content: "*";
  color: red;
}

/*
 * Sidebar
 */

.sidebar {
  /* position: fixed; */
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* Behind the navbar */
  padding: 5px 2px 5px 0;
  /* Height of navbar */
  box-shadow: inset -1px 1px 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.sidebar-sticky ul li:hover {
  color: #7386D5;
  background: #fff;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 50px;
  /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

/* .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
 */
nav.bg-primary .navbar-brand {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  color: #fff;
}

.navbar .form-control {
  padding: .5rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* style notify start   */

.navbar-nav .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}

.navbar-nav .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li:nth-child(2n+0) {
  background-color: #fafafa;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li:after {
  content: "";
  clear: both;
  display: block;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li:hover {
  background-color: #fcfcfc;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li:last-child {
  border-bottom: none;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}

.navbar-nav .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}

.navbar-nav .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}

.navbar-nav .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li a {
  font-size: 12px;
  font-weight: normal;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li {
  font-weight: bold;
  font-size: 11px;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff, #f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content>li p.time:hover {
  background-image: linear-gradient(#fff, #fff);
}

.navbar-nav .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 3px 15px;
}

.navbar-nav .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}

.navbar-nav .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

.navbar-nav .notify .dropdown-toggle::after {
  display: none;
}

/* end notify */


/* style login  */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.need-help {
  margin-top: 10px;
}

.new-account {
  display: block;
  margin-top: 10px;
}

@media (max-width: 575.98px) {
  .content-login {
    padding: 0px;
  }
}
  @media (min-width: 992px) {
    .content-login {
      padding: 15px;
    }
  }
    /* end style login */
.toolbar button {
  min-width: 55px !important;
}
/* .main-sidebar .nav .nav-item .nav-link {
  padding: .9375rem 1.250rem !important;
} */
.nav-link.pl-2.navMenu {
  padding-left: 28px !important;
}
.btn.btn-danger.btn-sm.button_khoa {
  background-color: #df7518 !important;
  border: 1px solid #df7518;
}
#danhSachDonVi tr:last-child {
  font-weight: 800;
}