html, body {
/*     font-family: "400 12px arial"; #df62b4*/
    background: #fbe9fb none repeat scroll 0 0;
/* 	background: #FE65B2 url("../images/bg.gif") repeat-x scroll center top; */
    color: #e724a0;
}
.flex-control-paging li a:hover {
    background: #FE65B2 none repeat scroll 0 0;
}
.flex-control-paging li a.flex-active {
    background: #FE65B2 none repeat scroll 0 0;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #FE65B2;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #FE65B2;
}
a {
    color: #d81c0a;
}
.btn-align{
	margin-left:3px;
	margin-top:2px;
}
.btn:focus{
	outline:none;
}
.border{
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px 4px 0 0;
	border-style:solid;
	padding:3px;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn{
	height:33px;
}
.typeahead { 
	z-index: 1051;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
 }

.text-black{
	color:#000000;
} 
.ios, .android{
	background-color:#fff;
}
.login-callcenter{
	margin:15px -5px;
}
.page-header-wrapper{
	border-bottom: 1px solid #eee;
}
 
 /*  start convert table in mobile */
 @media(max-width: 768px) {
 	.search-collection{
 		padding-top:10px;
 	}
	.table-mobile td,
	.table-mobile th {
	   display:block;
	     
	   flex-grow | flex-shrink | flex-basis  
	   -ms-flex: 1 1 auto;
	    flex: 1 1 auto;
	}
	
	.table-mobile .table-thead {
	   font-weight: bold;
	}
   .table-mobile tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 2px solid #ccc;
      margin-bottom:3px;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-mobile td {
      float: left\9;
      width:100%;
   }
}

/*  end convert table in mobile */


.close{
	font-size:28px;
}
.fullspan.dark {
    background: #FE65B2 none repeat scroll 0 0;
}
.price {
    background: #FE65B2 none repeat scroll 0 0;
}
.legend span {
    color: #FE65B2;
}
.social-mid a:hover .fa {
    background: #FE65B2 none repeat scroll 0 0;
}
.hi-icon-effect-1 .hi-icon {
    background: #FE65B2 none repeat scroll 0 0;
}
.logo span {
    color: #FE65B2;
}
#pinterest-pinboard-widget-container .pin_link a:hover {
    background: #FE65B2 none repeat scroll 0 0;
}
#null-instagram-feed-2 .clear-pop a:hover {
    background: #FE65B2 none repeat scroll 0 0;
}
.tweets-container .follow-btn:hover {
    background: #FE65B2 none repeat scroll 0 0;
}
.reservation-form .reservation legend {
    color: #FE65B2;
}
.reservation-form button {
    background: #FE65B2 none repeat scroll 0 0;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background: #FE65B2 none repeat scroll 0 0 !important;
}
.picker__day--highlighted:hover, .picker--focused .picker__day--highlighted {
    background: #FE65B2 none repeat scroll 0 0 !important;
}
.picker__month {
    color: #FE65B2 !important;
}
.picker__list-item--highlighted:hover, .picker--focused .picker__list-item--highlighted {
    background: #FE65B2 none repeat scroll 0 0 !important;
}
.picker__list-item--highlighted {
    border-color: #FE65B2 !important;
}
.rtb-booking-form .rtb-error {
    font-family: "Open Sans" !important;
}
.picker--time .picker__button--clear {
    background: #FE65B2 none repeat scroll 0 0 !important;
}
.hi-icon-effect-1 .hi-icon::after {
    box-shadow: 0 0 0 4px #3b7f8b;
}
.hi-icon-effect-1a .hi-icon:hover {
    background: #3b7f8b none repeat scroll 0 0;
}
a:hover {
    color: #3b7f8b;
}
.fullspan.copy {
    background: #3b7f8b none repeat scroll 0 0;
}
footer h4 {
    color: #3b7f8b;
}
input.submit[disabled] {
    background: #3b7f8b none repeat scroll 0 0;
}
.navbar-toggle .fa {
    color: #3b7f8b;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    border-bottom: 3px solid #3b7f8b;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    border-bottom: 3px solid #3b7f8b;
}
.wpcf7-form input[type="submit"] {
    background: #3b7f8b none repeat scroll 0 0;
}
.contactform input.error, .contactform textarea.error, .newsletter input.error {
    background: #3b7f8b none repeat scroll 0 0;
}
.wpcf7-form input[type="submit"]:hover {
    color: #3b7f8b;
}
.bx-wrapper .bx-prev {
    background: #FE65B2 no-repeat scroll center 8px;
    left: 0;
}
.bx-wrapper .bx-next {
    background: #FE65B2 no-repeat scroll center 8px;
    right: 0;
}
.bx-wrapper .bx-prev:hover {
    background: #3b7f8b  no-repeat scroll center 8px;
}
.bx-wrapper .bx-next:hover {
    background: #3b7f8b no-repeat scroll center 8px;
}
.reservation-form button {
    background: #FE65B2 none repeat scroll 0 0;
}
.reservation-form button:hover .twitter-box .tweets-container ul li .jtwt_date, .twitter-box .tweets-container ul li p a {
    color: #3b7f8b !important;
}
blockquote {
    border-left: 5px solid #FE65B2;
}
a {
    color: #6b396c;
}
a:hover {
    color: #3b7f8b;
}
#null-instagram-feed-2 .clear-pop a {
    background: #3b7f8b none repeat scroll 0 0;
}
.tweets-container .follow-btn {
    background: #3b7f8b none repeat scroll 0 0;
}
#pinterest-pinboard-widget-container .pin_link a {
    background: #3b7f8b none repeat scroll 0 0;
}
.picker__button--clear::before {
    border-top: 3px solid #3b7f8b !important;
}
.picker__day--infocus:hover, .picker__day--outfocus:hover {
    background: #3b7f8b none repeat scroll 0 0 !important;
}
.twitter-box .tweets-container ul li p a {
    color: #3b7f8b !important;
}
.twitter-box .tweets-container ul li .jtwt_date {
    color: #3b7f8b !important;
}
.reservation-form button:hover {
    background: #3b7f8b none repeat scroll 0 0;
}
.picker__day--today::before {
    border-top: 0.5em solid #3b7f8b !important;
}
.nav > li.active >a,  .nav > li.active >a:hover, .nav > li > a:focus, .nav > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
	background: #FE65B2;
    color: #fff;
    border-color: #FE65B2 transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	background: #FE65B2;
    color: #fff;
    border-color: #FE65B2 transparent;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background: #FE65B2;
}

a:focus{
	outline: none;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu > li > a:focus,.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu > li > a:hover{
	background: #FE65B2;
    color: #fff;
}

.toolbar > button {
	margin-right:5px;
}

.form-group.required label:after { 
   content:"*";
   color:red;
}

.vertical-align {
  position: absolute;
  top: 40%;
}

.align-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 30px; /* size of chrome */
    height: 0; 
    overflow: hidden;
}

.align-youtube iframe,
.align-youtube object,
.align-youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* loading start */
.loading {
    position: fixed;
    z-index: 1055;
    height: 1em;
    width: 1em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* loading end */

/* alert bottom */
.myAlert-bottom{
    position: fixed;
    bottom: -30px;
    left:2%;
    width: 96%;
    z-index:9;
}

.myAlert{
    position: fixed;
    left:2%;
    width: 96%;
    z-index:9;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-initialized .swipe-tab-content {
	position: relative;
	min-height: 365px;
}

@media screen and (min-width: 767px) {
	.slick-initialized .swipe-tab-content {
	    position: relative;
		min-height: 500px;
	}
}

.slick-initialized .swipe-tab {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 50px;
	background: none;
	border: 0;
	color: #757575;
	cursor: pointer;
	text-align: center;
	border-bottom: 2px solid transparent;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.slick-initialized .swipe-tab:hover {
	color: #e724a0;
}

.slick-initialized .swipe-tab.active-tab {
	border-bottom-color: #fff;
	/*   color: #000; */
	font-weight: bold;
	background: #FE65B2 none repeat scroll 0 0;
	border-color: #FE65B2 transparent;
	color: #fff;
	border-radius: 4px 4px 0 0;
	line-height: 1.42857;
}